html, body{
    height: 100%;
    padding: 1rem;
}

/* #new-character-field, #character-field, .character-card{
    border: 1px solid gray;
    background-color: lightgrey;
    border-radius: 12px;
    margin: 10px 20px;
} */

.character-card{
    border: 1px solid gray;
    background-color: lightgrey;
    border-radius: 12px;
    margin: 10px 0;
}